[submodule "libpicofe"]
	path = frontend/libpicofe
	url = git://github.com/trngaje/libpicofe.git
	branch = ogs_libgo2
[submodule "warm"]
	path = frontend/warm
	url = git://notaz.gp2x.de/~notaz/warm.git
